body{
font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 30px;
}

.body_loginpage{
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("../images/background_login.jpeg");
  background-size: cover;
}
.body__loginbox{
  margin: auto;
  background-color: #f2f2f2;
  padding-left: 7%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 7%;
  border-width: 1px;
  box-shadow: 4px 4px 4px;

}

.body__loginbox > form {
  margin: auto;
  padding-top: 2%;


}

.body__home{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
}



.input__login {
  margin: auto;
  background-color: #f2f2f2;
  padding: 7px 5px 7px 5px;
  border: none;
  font-size: 18px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px;
  border-style: solid;



}

.input__login:focus {
  outline: none;
}

/*Gele achtergrond van autofill weghalen*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #f2f2f2 inset !important;
}



.text__title--center{
  font-size: 25px;
}

.text__error{
  font-size: 16px;
}


.btn__form--primary{
  border-radius: 0px;
  text-align: center;
  width: 100%;
  background-color: #dddddd;
}

.btn__form--primary:hover{
  background-color: #c1c1c1;
  transition-delay: 0,5s;

}


.btn__register{

  margin-top: 5px;

}

.navbar__side{
  background-color: #efefef;
  padding-top: 2%;
  padding-bottom: 3%;
  box-shadow: 1px 3px 2px #a7a7a7;
  height: 100%;
  min-width: 11%;
  margin-right: 1%;
  padding-left: 7px;

}

.navbar__side a, button {

  display: block;
  font-size: 18px;
  background-color: inherit;
  width: 100%;
  color: black;
  text-align: center;
  padding: 3px 5px 3px 5px;
  margin-bottom: 3px;
  border: none;

}

.navbar__side a:hover, button:hover {

  text-decoration: none;
  background-color: #d7d7d7;
  transition-delay: 0,5s;

}

.navbar__side a:visited,a:active,a:focus,button:visited,button:focus {

  text-decoration: none;
  outline: none;

}

.navbar__text--groups{
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.navbar__group{
  margin-bottom: 30px;
}

.div__line{
  background-color: black;
  height: 1px;
  margin: 0px 3px 0px 3px
}

/*Registratie pagina deel */

.registratie_pagina {
  padding: 16px;
  width: 100%;
  background-color: #efefef;
}

.body__registratie{
  width: 80%;
  padding-left: 15%;
}

.body__registratie input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0px;
  display: inline-block;
  border: none;
}

.body__black__line {
border-top: 1px solid black;


}
 /* Terms of service css */

 .termsos__pagina {
   padding: 16px;
   width: 100%;
   background-color: #efefef;
 }
