body{
    font-family: 'Open Sans', sans-serif;
}

/* Algemene titels */
h1 {
  font-size: 30px;
}

/* Subtitels  */
h2 {
  font-size: 24px;
}
/* Titels voor items */
h3 {
  font-size: 20px;
}


.body_loginpage{
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("../images/background_login.jpeg");
  background-size: cover;
}
.body__loginbox{
  margin: auto;
  background-color: #f2f2f2;
  padding-left: 7%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 7%;
  border-width: 1px;
  box-shadow: 4px 4px 4px;

}

.body__loginbox > form {
  margin: auto;
  padding-top: 2%;


}

.body__home{
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  width: 100%
}



.input__login {
  margin: auto;
  background-color: #f2f2f2;
  padding: 7px 5px 7px 5px;
  border: none;
  font-size: 18px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px;
  border-style: solid;
}

.input__login:focus {
  outline: none;
}

/*Gele achtergrond van autofill weghalen*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #f2f2f2 inset !important;
}



.text__title--center{
  font-size: 25px;
}

.text__error{
  font-size: 16px;
}


.btn__form--primary{
  border-radius: 0px;
  text-align: center;
  width: 100%;
  background-color: #dddddd;
}

.btn__form--primary:hover{
  background-color: #c1c1c1;
  transition-delay: 0,5s;

}


.btn__register{

  margin-top: 5px;

}

.navbar__side{
  background-color: #efefef;
  padding-top: 2%;
  padding-bottom: 3%;
  box-shadow: 1px 3px 2px #a7a7a7;
  height: 100%;
  min-width: 11%;
  margin-right: 1%;
  padding-left: 7px;

}

.navbar__side a, .navbar__side button {

  display: block;
  font-size: 18px;
  background-color: inherit;
  width: 100%;
  color: black;
  text-align: center;
  padding: 3px 5px 3px 5px;
  margin-bottom: 3px;
  border: none;
  transition: 0.5s;

}

.navbar__side a:hover, .navbar__side button:hover {

  text-decoration: none;
  background-color: #d7d7d7;
  transition-delay: 0,5s;

}

.navbar__side a:visited,a:active,a:focus,button:visited,button:focus {

  text-decoration: none;
  outline: none;

}

.navbar__text--groups{
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.navbar__group{
  margin-bottom: 30px;
}

.div__line{
  background-color: black;
  height: 1px;
  margin: 0px 3px 0px 3px
}

.body__home--containers{
  padding-left: 1%;
  width: 100%;
}

.home__title h1 {
  padding-top: 2%;
  display: block;
  margin-bottom: 3%;

}

/*Registratie pagina deel */

.registratie_pagina {
  padding: 16px;
  width: 100%;
  background-color: #000032;
  color: #ffffff;
}

.body__registratie{
  width: 80%;
  padding-left: 15%;

}

.body__registratie input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0px;
  display: inline-block;
  border: none;
}

.body__home--home {
  display: flex;
  flex-wrap: wrap;
}

.body__home--boxes {
  background-color: #efefef;
  box-shadow: 0px 0px 10px #d7d7d7;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  padding-left: 1%;
  padding-bottom: 3%;
  margin-bottom: 1%;
}

.body__home--groups {
  width: 65%;
  min-width: 500px;
  overflow: auto;
}

.body__home--courses {
  width: 90%;
  min-width: 500px;
  overflow: auto;
  margin: auto;
}

.body__home--invites {
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 3%;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 2%;
  overflow: auto;
  max-height: 500px;
  width: 23%;
}

.item__group--coloum {
  display: flex;
  flex-direction: column;
}

.item__group--row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.body__home--title {
  width: 100%;
  margin-bottom: 5%;
  text-align: center;
}

.item__group--link {
  margin-right: 2%;
  margin-bottom: 2%;
  flex: 0 1 auto;
  min-width: 60px;
  max-width: 180px;
  background-color: white;
  box-shadow: 0px 0px 10px #d7d7d7;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  transition: 0.3s;
}

.item__group--link div {
  outline: none;
  color: black;

  padding: 1px 30px 1px 30px;
  text-align: left;

}

.item__group--link:hover{
  text-decoration: none;
  background-color: #efefef;
  outline: none;
  cursor: pointer;
}

.item__group--link:hover{
  text-decoration: none;
}

.item__group--link p {
  font-size: 16px;

}

.item__group--invite {
  display: block;
  background-color: white;
  margin-top: 3px;
  padding: 1px 5px 5px 5px;
  color: black;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: 0px 0px 10px #d7d7d7;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
}

.invites__btn--response {
  width: 100%;
  display: inline;
}

.invites__btn--response button{
  width: 49%;
  float: left;
  margin-left: 1%;
  font-size: 18px;
}

.invites__btn--response button:hover {
  background: ;
}

.btn__border--green {
  border: 1px solid #4eed2a;
  border-radius: 3px;
  background: transparent;
  transition: 0.3s
}

.btn__border--green:hover {
  background: #4eed2a;
}

.btn__border--red {
  border: 1px solid #c62b45;
  border-radius: 3px;
  background: transparent;
  transition: 0.3s
}

.btn__border--red:hover {
  background: #c62b45;
}



.body__black__line {
border-top: 1px solid black;


}
 /* Terms of service css */

 .termsos__pagina {
   padding: 16px;
   width: 100%;
   background-color: #efefef;
 }

/* Registratie pagina*/

 meter {
     /*-webkit-appearance: none;*/
     -moz-appearance: none;
     appearance: none;

     margin: O auto 1em;
     width: 100%;
     height: 0.5em;

     background: none;
     background-color: rgba(0,0,0,0.1);
 }

meter::-webkit-meter-bar {
     background:none;
     background-color: rgba(0,0,0,0.1);
}
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }


/*Registratie pagina */
