body{
    font-family: 'Open Sans', sans-serif;
}

.body_loginpage{
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.body__loginbox{
  margin: auto;
  border-width: 1px;
  width: 300px;
}

.body__loginbox--title {
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

.body__loginbox > form {
  margin: auto;
  padding-top: 2%;
  width: 100%;
}

.body__home{
  display: flex;
  justify-content: flex-start;
  width: 100%
}

.input__login {
  margin: auto;
  background-color: #ffffff;
  padding: 7px 5px 7px 5px;
  font-size: 18px;
  border-bottom: 1px;
  border-color: white;
  border-style: solid;
  width: 100%;
  box-shadow: 0px 0px 10px #201049;
  border: 1px solid #d7d7d7;
  border-radius: 3px;

}

.input__login:focus {
  outline: none;
}

.text__error{
  font-size: 16px;
  color: white;
  text-align: center;
  margin-top: 5px;
}


.btn__form--primary{
  border: 1px solid #2a69c9;
  border-radius: 2px;
  text-align: center;
  width: 100%;
  background-color: transparent;
  color: white;
  transition: 0.3;
  height: 43px;
  margin: 0px 0px 5px 0px;
}

.btn__form--primary:hover{
  background-color: #2a69c9;
  color: white;
}

.link__form--primary {
  color: #2a69c9 !important;
  text-align: center;
}

.dots__body{
  background-color: black;
  transition: background-color 5000ms linear;
}
.dots__body:hover {
  background-color: #000032;
}

/*Gele achtergrond van autofill weghalen*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #f2f2f2 inset !important;
}
